* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --text-primary: #1b1b1b;
  --text-secondary: #333333;
  --text-tertiary: #696969;
  --text-headline: #e1624f;
  --accent-blue: #0c51a7;
  --accent-orange: #e95e10;
  --accent-pink: #e5245e;
  --accent-purple: #591b98;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans";
}

main {
  width: 112rem;
  margin: 8rem auto;
}

.headline {
  color: var(--text-headline);
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
}

.title-primary {
  color: var(--text-primary);
  font-size: 3.2rem;
  font-weight: 700;
}

#description {
  margin: 4rem 0;
}

#description p {
  margin-top: 2.4rem;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 4.4rem 0 6.4rem;
  background-color: #d9d9d9;
}

p {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  color: var(--text-secondary);
}

.card-travel img {
  margin: 4.8rem 0 2rem;
}

h3 {
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0.4rem;
}

.accent-blue {
  color: var(--accent-blue);
}

.accent-purple {
  color: var(--accent-purple);
}

.accent-pink {
  color: var(--accent-pink);
}

.accent-orange {
  color: var(--accent-orange);
}

#text-final {
  text-align: center;
}

footer {
  padding: 6.5rem 0 4.8rem;
  text-align: center;
  font-family: Alice;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .4rem;
}
